body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
   background: linear-gradient(to left,#F3E2D4,#415E72);
}

.main-heading {
  text-align: center;
  margin: 40px 0 30px;
  font-size: 32px;
  font-weight: bold;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 20px;
}
.card {
  background-color: #EEEEEE;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.card h2 {
  margin: 10px 0;
  font-size: 18px;
}

.card button {
  background-color: #34699A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}
